<section id="header">
        {{> header}}
    </section>



<div class="banner text-center">
    <div data-aos="fade-up" data-aos-duration="1000">
        <h1>2,786 Việc Làm IT Cho Developer Chất</h1>
        <div class="search-job text-center">
            <form action="/search/jobs" method="POST" name="form-search-job" class="form-search-job1" style="    
                display: flex;
                align-items: center;
                justify-content: center;

            ">
            
                <input type="text" name="keyword"  value="" id="input-search-job" class="search-form__keyword-input height-45 border-radius4 mr-4" autocomplete="off"
                            placeholder="Tìm kiếm theo kỹ năng, chức vụ, công ty..." data-search--autocomplete-target="query" data-action="search--autocomplete#toggleClearButton">
                <select id="form-search-location" name="location" class="form-search-combobox height-45 border-radius4 mr-4">
                                    <option value="Ho Chi Minh">Ho Chi Minh</option>
                                    <option value="Ha Noi">Ha Noi</option>
                                    <option value="Da Nang">Da Nang</option>
                                    <option value="Others">Others</option>
                </select>
                

                <button type="submit" id="btn-search-job" class="search-form-submit">
                                <div class="search-form-submit-icon">
                                    <i class="fa-solid fa-magnifying-glass mr-2"></i> Tìm kiếm
                                </div>
                </button>
            </form>
        </div>
    </div>
</div>




{{!-- -----------------------------top recruiters------------------------------ --}}
<section id="recruiters" >
    <div class="container text-center">
        <h3>Nhà Tuyển Dụng Hàng Đầu</h3>
        <div class="row recruiters-company">
            <div class="col-xs-12 col-lg-3 col-md-6 ipad-bt-5 wrap_company" data-aos="fade-up" data-aos-duration="1000">
                <div href="" class="top-company">
                    <div class="top-company__logo text-center">
                        <img src="/img/Logo_company/AMANOTES.png" alt="" height="170" width="170">
                    </div>
                    <div class="top-company__name text-center">
                        AMANOTES
                    </div>
                    <div class="top-company__location text-center">
                        Ho Chi Minh
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-lg-3 col-md-6 ipad-bt-5 wrap_company" data-aos="fade-up" data-aos-duration="1000">
                <div href="" class="top-company">
                    <div class="top-company__logo text-center">
                        <img src="/img/Logo_company/CMC.png" alt="" height="170" width="170">
                    </div>
                    <div class="top-company__name text-center">
                        CMC Global
                    </div>
                    <div class="top-company__location text-center">
                        Ha Noi
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3 col-md-6 wrap_company" data-aos="fade-up" data-aos-duration="1000">
                <div href="" class="top-company">
                    <div class="top-company__logo text-center">
                        <img src="/img/Logo_company/HANSEN.png" alt="" height="170" width="170">
                    </div>
                    <div class="top-company__name text-center">
                        Hansen Technologies
                    </div>
                    <div class="top-company__location text-center">
                        Ho Chi Minh
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3 col-md-6 wrap_company" data-aos="fade-up" data-aos-duration="1000">
                <div href="" class="top-company">
                    <div class="top-company__logo text-center">
                        <img src="/img/Logo_company/HCL.png" alt="" height="170" width="170">
                    </div>
                    <div class="top-company__name text-center">
                        HCL Vietnam Company Limited
                    </div>
                    <div class="top-company__location text-center">
                        Ha Noi
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xs-12 col-lg-3 col-md-6 ipad-bt-5 wrap_company" data-aos="fade-up" data-aos-duration="1000">
                <div href="" class="top-company">
                    <div class="top-company__logo text-center">
                        <img src="/img/Logo_company/MB.png" alt="" height="170" width="170">
                    </div>
                    <div class="top-company__name text-center">
                        MB Bank
                    </div>
                    <div class="top-company__location text-center">
                        Ha Noi
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 col-lg-3 col-md-6 ipad-bt-5 wrap_company" data-aos="fade-up" data-aos-duration="1000">
                <div href="" class="top-company">
                    <div class="top-company__logo text-center">
                        <img src="/img/Logo_company/NAKIVO.png" alt="" height="170" width="170">
                    </div>
                    <div class="top-company__name text-center">
                        Nakivo
                    </div>
                    <div class="top-company__location text-center">
                        Ho Chi Minh
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3 col-md-6 wrap_company" data-aos="fade-up" data-aos-duration="1000">
                <div href="" class="top-company">
                    <div class="top-company__logo text-center">
                        <img src="/img/Logo_company/PLAYSTUDIOS.png" alt="" height="170" width="170">
                    </div>
                    <div class="top-company__name text-center">
                        PLAYSTUDIOS
                    </div>
                    <div class="top-company__location text-center">
                        Ha Noi
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-3 col-md-6 wrap_company" data-aos="fade-up" data-aos-duration="1000">
                <div href="" class="top-company">
                    <div class="top-company__logo text-center">
                        <img src="/img/Logo_company/SAMSUNG.png" alt="" height="170" width="170">
                    </div>
                    <div class="top-company__name text-center">
                        Samsung Electronics HCMC CE Complex
                    </div>
                    <div class="top-company__location text-center">
                        Ho Chi Minh
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </div>
</section>


<footer>
        {{> footer}}
</footer>

