<div class="main">
     <section class="sign-in">
            <div class="container">
                <div class="signin-content">

                    <div class="signin-form">
                        <h2 class="form-title">Sign up</h2>
                        <form action="/login" method="POST" class="register-form" id="login-form" >
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="email" id="email" placeholder="Your email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password"/>
                            </div>
                            
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit-btn" value="Đăng nhập"/>
                            </div>
                            </div>
                        </form>
                    </div>
                    <div class="signin-image">
                        <a href="/login/register" class="signup-image-link">Create an account</a>
                    </div>
                </div>
            </div>
        </section>
</div>

