<div  class="title" style="
    position: absolute;
    z-index: 10;
    color: #ffff;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -20%);
    letter-spacing: 0.2rem;
">
                <h1 data-aos="fade-down" data-aos-duration="2500">
                    CHÀO MỪNG ĐẾN VỚI H2T
                </h1>
</div>





<div class="wrap-register" >
    <section class="sign-up" style="
  
">
            <div class="container text-center" style="padding: 40px; ">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title" style="
                                padding-top: 10px;
                                padding-bottom: 20px;
                        ">Đăng ký</h2>
                        <form method="POST" class="register-form" id="register-form" action="/login/register">
                            <div class="form-group">
                                <input type="text" name="name" id="name" placeholder="Your Name" style="width: 250px; padding: 5px 20px; border:1px solid rgba(81, 203, 238, 1); border-radius:5px"/>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email" placeholder="Your Email" style="width: 250px; padding: 5px 20px; border:1px solid rgba(81, 203, 238, 1); border-radius:5px"/>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="pass" placeholder="Password" style="width: 250px; padding: 5px 20px; border:1px solid rgba(81, 203, 238, 1); border-radius:5px"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit-btn" value="Đăng ký" style="padding: 5px 40px;; border:none; border-radius:15px"/>
                            </div>
                        </form>

                            <div class="form-group form-button">
                                <a href="/login" class="signup-image-link">Trở lại đăng nhập</a>
                            </div> 
                
                    </div>
                  
                </div>
            </div>
        </section>
</div>





<div class="description" style="
    position: absolute;
    z-index: 10;
    bottom: 20%;
    color: #fff;
    left: 50%;
    letter-spacing: 0.1rem;
    transform: translate(-50%, -25%);

">
    <p data-aos="fade-up" data-aos-duration="2500">Bạn đang gặp khó khăn trong việc tìm kiếm việc làm phù hợp với khả năng của bản thân hoặc với mong muốn làm việc cho các công ty phần mềm lớn nổi tiếng. Chúng tôi sẽ giúp bạn giải quyết các vấn đề đó để có công việc như mong muốn chỉ với vài thao tác.
    </p>
</div>
