* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

body {
  background-color: #e9e9e9 !important; }

a {
  text-decoration: none !important; }

.height-40 {
  height: 40px !important; }

.container {
  box-shadow: none !important;
  background: none !important;
  border-radius: 0 !important; }

input {
  border: 1px solid #333 !important;
  color: #999 !important;
  border-radius: 4px; }

select {
  border: 1px solid #333 !important;
  border-radius: 4px;
  color: #495057;
  margin: 0 15px !important; }

input:focus,
select:focus {
  color: #000000 !important;
  border: 1px solid rgba(228, 35, 35, 0.5) !important;
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */ }

input:focus::placeholder {
  color: transparent; }

select {
  -webkit-appearance: auto !important; }

.border-radius4 {
  border-radius: 4px !important; }

.content-place {
  margin-top: 70px;
  padding-bottom: 0;
  height: calc(100vh - 70px - 234px); }

.menu-bar {
  background-color: #221f20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  transition: width 300ms ease; }

.nav-link {
  font-size: 16px;
  color: #fff !important;
  margin: 2px; }

.navbar-nav {
  text-align: right; }

.menu-bar .navbar-toggler {
  padding-right: 0;
  outline: none;
  border: none; }

#header_logo {
  width: 70%;
  height: 100%;
  transition: width 300ms ease; }

.menu-bar.is-sticky #header_logo {
  width: 50px; }

.banner {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/banner/banner.jpg);
  background-size: 100% 100%;
  background-position: center;
  color: #fff;
  padding-top: 88px;
  background-repeat: no-repeat; }

.banner h1 {
  padding-top: 150px;
  padding-bottom: 80px;
  font-size: 50px;
  letter-spacing: 6px;
  font-weight: 600;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.5); }

.search-job {
  padding: 30px 0;
  margin: -50px 6% 50px; }

.search-job .form-control {
  max-width: 500px;
  display: inline-flex;
  margin: 10px 5px;
  border-radius: 0;
  box-shadow: none !important;
  border: none !important; }

.search-job #btn-search-job {
  height: 40px; }

.search-job .btn-primary {
  border-radius: 0;
  box-shadow: none !important;
  border: none;
  display: inline-flex;
  padding: 6px 20px;
  line-height: 28px; }

#input-search-job {
  max-width: 550px; }

#recruiters {
  padding-top: 50px;
  padding-bottom: 100px; }

#recruiters h3 {
  text-align: center;
  padding-bottom: 40px; }

.row > * {
  width: 100% !important;
  max-width: 100% !important; }

.top-company {
  color: #333;
  border: 1px solid #D8D8D8;
  display: block;
  padding: 20px;
  background: white; }

.top-company__logo {
  width: 170px;
  height: 170px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 170px; }

.top-company__logo > img {
  max-height: 170px;
  max-width: 170px;
  width: auto;
  height: auto; }

.top-company__name {
  margin-top: 10px;
  font-size: 19px;
  height: 56px; }

.top-company__location {
  margin-top: 20px; }

.container-search {
  margin-top: 118px; }

.search-header {
  padding: 20px 0; }

.search-form-keyword,
.search-form-location {
  border-radius: 6px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px; }

.search-form {
  display: flex;
  align-items: center;
  justify-content: center; }

.search-form__keyword-input,
.form-control-combobox,
.post-name,
.post-name-job,
.post-email,
.post-number,
.post-time,
.post-key,
.apply-value {
  height: 100%;
  font-size: 15px;
  background: white;
  border: none;
  padding: 0.375rem 0.75rem;
  display: block;
  outline: none; }

.search-form-keyword {
  width: 355px; }

.search-form__keyword-input {
  width: 100%; }

.form-search-combobox {
  height: 36px;
  border: none;
  padding-left: 5px;
  padding-right: 25px;
  font-size: 15px; }

.search-form-submit {
  height: 36px;
  display: inline-block;
  padding: 0 15px;
  background-color: #EA1E30;
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 4px; }

.search-form-submit-icon {
  display: flex;
  align-items: center; }

#jobs {
  overflow-y: scroll;
  background-color: #f8f8fa;
  padding: 50px 20px;
  height: calc(100vh - 88px - 146px); }

.jobs-overlow {
  overflow: hidden; }

.company-details {
  box-shadow: 0 2px 70px 0 rgba(110, 130, 208, 0.18);
  border-radius: 5px;
  margin-bottom: 20px; }

.job-update {
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px; }

.job-update {
  color: #333333e8;
  font-size: 14; }

.job-update .fa,
.job-details .fa {
  margin-top: 5px;
  margin-right: 10px;
  color: #77d1b1;
  width: 16px !important; }

.job-update p {
  margin-bottom: 0 !important;
  color: #3a3a3a; }

.job-update a {
  text-decoration: none !important;
  color: #b6bed2;
  float: right; }

.apply-btn {
  height: 40px;
  background-image: linear-gradient(to right, #141e30, #243b55);
  padding: 7px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.apply-btn .btn-primary {
  padding: 0 30px;
  float: right;
  border-radius: 0;
  box-shadow: none !important;
  background: #EA1E30;
  border: 1px solid #fff; }

.pagelink li {
  height: 25px;
  width: 25px;
  list-style-type: none;
  display: inline-block;
  cursor: pointer; }

.pagelink li:hover, .active {
  color: #fff;
  background-color: linear-gradient(to right, #6db9ef, #7ce08a); }

.left-arrow {
  color: #999; }

.right-arrow {
  color: #29b929; }

.job-details {
  margin-top: 76px;
  position: relative; }

.job-details__header,
.job-details__title {
  padding-top: 20px; }

.job-details__overview {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 10px;
  font-size: 14px;
  color: #58595b;
  padding: 15px 0; }

.job-details__information {
  margin-bottom: 20px; }

.job-details__paragraph-title {
  font-size: 23px;
  color: #353535;
  font-weight: 400;
  margin: 30px 0 0; }

.job-details__paragraph-text {
  color: #3a3a3a;
  font-size: 16px;
  line-height: 1.7rem;
  padding-top: 20px; }

.job-details__apply {
  padding: 20px 0 30px; }

.job-details__apply-btn {
  text-align: center;
  color: white;
  line-height: 40px;
  font-size: 19px;
  height: auto !important;
  -webkit-font-smoothing: antialiased;
  display: block;
  background-color: red;
  width: 100%;
  border-radius: 4px; }

.job-details-wrap {
  position: relative; }

footer {
  margin: auto; }

#footer {
  padding: 40px 30px;
  background-color: #221f20;
  line-height: 1.8rem;
  font-size: 15px; }

#footer a {
  color: #929497; }

#footer .bottom {
  margin: 0 auto;
  max-width: 1350px; }

#footer .align-center {
  margin: 0 auto !important; }

.footer-link-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; }

.footer-link-list__header {
  color: rgba(255, 255, 255, 0.72) !important;
  font-weight: 600; }

.footer-link-list__app {
  display: flex;
  align-items: center; }

.footer-link-list-app {
  margin-right: 1rem !important; }

.title.ularge {
  margin-bottom: 30px;
  line-height: 1.2;
  color: #EA1E30 !important; }

.main-article {
  padding: 40px; }

div.text > h1, div.text > h2, div.text > h3, div.text > h4 {
  font-weight: 400; }

#text-security > h1,
#text-security > h2,
#text-security > h3,
#text-security > h4 {
  color: #EA1E30 !important; }

div.text {
  font-size: 16px;
  line-height: 2;
  font-weight: 400; }

div.text > p {
  color: #221f20;
  margin-bottom: 18px; }

div.text > h3 {
  font-size: 18px;
  padding-top: 15.6px;
  margin-bottom: 10.8px;
  line-height: 1.5; }

div.text > ul {
  margin-bottom: 18px;
  margin: 0 0 0 25px; }

.apply-content {
  margin-top: 88px; }

.apply-content-title h1 {
  padding: 30px; }

.btn-apply {
  border: none;
  background-color: #EA1E30;
  height: 50px;
  font-size: 18px;
  color: white; }

.post-wrapper {
  margin-top: 70px;
  height: auto; }

.post-form > .form-group > label {
  display: block !important;
  max-width: 100%;
  margin-bottom: 5px; }

#post-form > .form-group > p {
  margin-bottom: 0.2rem !important; }

#btn-post-form {
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center; }

#btn-post-form:hover {
  cursor: pointer; }

.form-submit-btn {
  background-color: #EA1E30;
  color: #fff !important; }

@media (max-width: 739px) {
  .navbar {
    margin-left: 10px;
    margin-right: 10px; }
  .container-search {
    padding-bottom: 1px !important; }
  .banner {
    padding: 40px 15px 60px 15px; }
  .form-search-job1 {
    display: flex;
    flex-direction: column; }
  .banner h1 {
    font-size: 34px;
    letter-spacing: 0; }
  #input-search-job,
  #form-search-location {
    height: 43px !important;
    width: 100%; }
  #form-search-location {
    margin: 25px 0 !important; }
  .recruiters-company {
    margin-bottom: -3rem; }
  .container-search {
    margin-top: 70px; }
  .search-form {
    flex-direction: column; }
  .form-control-combobox,
  .search-form-location,
  .search-form-keyword,
  #btn-search-form,
  .search-form-submit {
    width: 100% !important; }
  .search-form-location {
    margin: 20px 0 !important; }
  #form-select {
    margin-left: 0 !important;
    height: 43px; }
  #btn-search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px; }
  .search-form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px; }
  .search-form-keyword {
    height: 43px; }
  #jobs {
    padding: 25px 20px; }
  .container-search {
    height: auto !important;
    margin-bottom: 20px; }
  .job-details-wrap {
    padding: 0 !important;
    height: calc(100vh - 79px) !important; }
  .job-details {
    padding: 0 20px; } }

@media (min-width: 740px) and (max-width: 1023px) {
  .navbar {
    margin-left: 50px;
    margin-right: 50px; }
  #input-search-job {
    flex: 2; }
  #recruiters {
    padding-bottom: 101px !important; }
  .ipad-bt-5 {
    margin-bottom: 3rem !important; }
  .container-search {
    height: calc(100vh - 86px) !important; }
  .job-details-wrap {
    height: calc(100vh - 78px) !important; } }

@media (min-width: 1024px) {
  .navbar {
    margin-left: 80px;
    margin-right: 80px; } }
