<div id="footer" >
    <div class="bottom clearfix">
        <div class="row">
            <div class="col-sm-3 col-6">
                <div class="footer-link-list">
                        <div class="footer-link-list__header">Về ITviec</div>
                        <a href="/">Trang Chủ</a>
                        <a href="/footer/contact">Liên Hệ</a>
                        <a href="/search/jobs/">Việc Làm IT</a>
                        
                </div>
            </div>
            <div class="col-sm-3 col-6">
                 <div class="footer-link-list">
                        <div class="footer-link-list__header">Điều khoản chung</div>
                        <a href="/footer/security">Quy định bảo mật</a>
                </div>
            </div>
             <div class="col-sm-6">
                 <div class="footer-link-list">
                        <div class="footer-link-list__header">Liên hệ để đăng tin tuyển dụng tại: </div>
                        <a >Hồ Chí Minh: (+84) 999 460 519</a>
                        <a >Hà Nội: (+84) 999 131 351</a>
                        <a > Email: love@h2t.com</a>
                        <div class="footer-link-list__app">
                            <span class="footer-link-list-app">
                                <a class="" >
                                    <i class="fa-brands fa-facebook fa-lg"></i>
                                </a>
                            </span>
                            <span class="footer-link-list-app">
                                <a class="" >
                                    <i class="fa-brands fa-linkedin-in fa-lg"></i>
                                </a>
                            </span>
                            <span class="footer-link-list-app">
                                <a class="" >
                                    <i class="fa-brands fa-youtube fa-lg"></i>
                                </a>
                            </span>
                            
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>