<section id="header">
        {{> header}}
</section>

<div class="contact content-place">
    <div class="contact-us container" style="background-color:#fff !important; padding-top:30px; padding-bottom:77px;">
        <h1 class="pb-3 text-center">Liên Hệ</h1>
        <h3>Địa chỉ văn phòng</h3>
        <p>60 Nguyễn Văn Thủ, Phường Đa Kao, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</p>
        <h3>Dành cho nhà tuyển dụng</h3>
        <ul style="padding: 0 0 0 40px">
            <li>
                Hãy gọi ngay cho đội ngũ Bán Hàng của chúng tôi
            <ul style="padding: 0 0 0 40px">
                <li>HCM: +84 977 460 519</li>
                <li>Hà Nội: +84 983 131 351</li>
            </ul>
            </li>
            <li>
                <a target="_blank" href="/post_jobs">Hãy để lại thông tin </a>để được chúng tôi sẽ liên hệ tư vấn ngay
            </li>
        </ul>
        <p>Chúng tôi sẵn sàng để giúp bạn phát triển</p>
        <h3>Dành cho ứng viên</h3>
        <ul style="padding: 0 0 0 40px">
            <li>
                    Đặt câu hỏi trên
                    <a targe="_blank" href="https://www.facebook.com/ITviec/">Facebook H2T</a>
            </li>
            <li>
                    Đọc
                    <a target="_blank" href="https://itviec.com/blog/category/tu-van-tim-viec/">các bài blog của chúng tôi về bí quyết viết CV và kỹ năng phỏng vấn</a>
            </li>
            <li>Gọi chúng tôi theo số +84 28 6681 1397</li>
        </ul>
        <p>Kết nối với chúng tôi qua hệ thống mạng xã hội</p>
        <div class="footer-link-list__app">
                <span class="footer-link-list-app">
                    <a class="" >
                        <i class="fa-brands fa-facebook fa-lg"></i>
                    </a>
                </span>
                <span class="footer-link-list-app">
                    <a class="" >
                        <i class="fa-brands fa-linkedin-in fa-lg"></i>
                    </a>
                </span>
                <span class="footer-link-list-app">
                    <a class="" >
                        <i class="fa-brands fa-youtube fa-lg"></i>
                    </a>
                </span>
                            
            </div>
    </div>
</div>


<footer>
    {{> footer}}
</footer>