<section id="header">
        {{> header}}
</section>



<div class="apply">
    <div class=" apply-content container">
        <div class="apply-content-title">
            <h1 style="text-align: center">{{Job.namejob}}</h1>
        </div>
        <form method="POST" action="/search/{{Job._id}}/applied?_method=PUT" class="apply-form col-md-12 px-3">
         

            <div class="row mt-4 align-items-center">
                <label class="col-sm-2 mt-2" for="job_application_email">Email:</label>
                <div class="col-sm-10 search-form-keyword">
                    <input name="userEmail" required="required" placeholder="Nhập email của bạn" type="text" id="apply-user-email" class="apply-value w-50"  >
                </div>
            </div>

              <div class="row mt-4 align-items-center">
                <label class="col-sm-2 mt-2" for="job_application_email">Phone:</label>
                <div class="col-sm-10 search-form-keyword">
                    <input required="required" placeholder="Nhập số điện thoại"
                    data-rule-email="true" data-rule-noplus="true" data-msg-required="Không được để trống" 
                    data-msg-email="Địa chỉ email không hợp lệ" data-msg-noplus="Địa chỉ email không hợp lệ" 
                    data-job-applications--new-target="email" type="text" name="userNumber" id="apply-user-number" class="apply-value w-50"  >
                </div>
            </div>

            <div class="row mt-4 align-items-center">
                <label class="col-sm-2 mt-2" for="job_application_cv_local">CV:</label>
                <div class="col-sm-10 search-form-keyword">
                    <input name="linkCV"  required="required" placeholder="Copy link CV dán vào đây" class="apply-value w-100">
                </div>
            </div>

           <div class="actions d-grid mt-5">
                <button class="btn-apply btn-block send_now apply-value" style="border-radius:4px" data-disable-with="Saving..." type="submit">Gửi CV của tôi</button>
            </div>
        </form>
    </div>
</div>


