<section id="header">
    {{> header_user}}
</section>


<div id="single" class="container " data-aos="fade" style="background-color:#fff !important; padding-bottom:1px; padding-top:77px">

    <div class="epcl-page-wrapper">

        <div class="left-content grid-70 np-mobile">
            <article class="main-article post-10862 page type-page status-publish hentry">
                <section class="post-content">
                    <h1 class="title ularge bordered bold">Chính Sách Bảo Mật</h1>
                    <div id="text-security" class="text">
                        <p>Read <a href="//itviec.com/blog/privacy-policy/">English version here</a>.</p>
                        <p>ITviec được đăng ký tại 60 Nguyễn Văn Thủ, Quận 1, Thành phố Hồ Chí Minh, Việt Nam.
                            (&#8220;ITviec&#8221;, &#8220;chúng tôi, của chúng tôi&#8221;) là đơn vị dẫn đầu trong thị
                            trường cung cấp quảng cáo và tuyển dụng trực tuyến cho chuyên ngành IT. ITviec đóng vai trò
                            là bộ điều khiển dữ liệu thông tin cá nhân thu được từ các khách hàng của mình với nhu cầu
                            về dịch vụ tuyển dụng và thông tin cá nhân do ứng viên nộp hồ sơ đăng tuyển.</p>
                        <p>Chính sách bảo mật này mô tả cách dữ liệu của bạn được thu thập, sử dụng, xử lý và chuyển
                            tiếp và những quyền của bạn liên quan đến dữ liệu cá nhân của bạn.</p>
                        <h3>Thu thập thông tin của bạn</h3>
                        <p>Mục đích chính của chúng tôi là tạo điều kiện thuận lợi cho quá trình tuyển dụng. Chúng tôi
                            đáp ứng các yêu cầu của người sử dụng đối với các cơ hội việc làm IT và tạo điều kiện thuận
                            lợi cho việc nộp đơn xin việc cho nhà tuyển dụng thông qua trang web của chúng tôi. Để thực
                            hiện nghĩa vụ pháp lý và kinh doanh của chúng tôi, chúng tôi thu thập thông tin cá nhân mà
                            bạn cung cấp cho chúng tôi khi truy cập trang web của chúng tôi. Chúng tôi cũng thu thập
                            thông tin về cách bạn sử dụng trang web của chúng tôi. Chúng tôi sử dụng thông tin này để
                            giúp bạn tìm được công việc phù hợp, cải tiến dịch vụ của chúng tôi và phân tích, khắc phục
                            các khiếm khuyết. Để sử dụng các dịch vụ của chúng tôi, bạn sẽ được yêu cầu cung cấp cho
                            chúng tôi các dữ liệu cá nhân của bạn như tên, địa chỉ email và hồ sơ ứng tuyển của bạn.</p>
                        <p>Trong quá trình tuyển dụng, chúng tôi cũng có thể lưu trữ thêm những thông tin có thể quan
                            trọng khác.</p>
                        <h3>Cách chúng tôi sử dụng thông tin của bạn</h3>
                        <p>Để có thể cung cấp sản phẩm và dịch vụ của chúng tôi cho bạn, thông tin của bạn sẽ được lưu
                            lại, xử lý và tiết lộ bởi chúng tôi theo các cách sau:</p>
                        <ul>
                            <li>Để tạo thuận lợi cho quá trình tuyển dụng, chúng tôi kết hợp thông tin của bạn với các
                                cơ hội việc làm IT;</li>
                            <li>Cho phép thông tin chi tiết về các kỹ năng và kinh nghiệm của bạn được xem bởi những
                                công ty mà chúng tôi cảm thấy có thể quan tâm đến bạn.</li>
                            <li>Cho phép chúng tôi gửi cho bạn dịch vụ email &#8220;Job Robot&#8221; của chúng tôi, dù
                                có sự đồng ý hoặc không đồng ý rõ ràng từ bạn. Dịch vụ này sẽ gửi email cho bạn các
                                thông tin về các công việc mới nhất có liên quan đến lĩnh vực và kinh nghiệm chuyên môn
                                của bạn. Trường hợp bạn được gửi thông tin chi tiết về công việc thông qua dịch vụ
                                &#8220;Job Robot,&#8221; bạn có thể hủy đăng ký các cập nhật đó bất cứ lúc nào bằng nhấp
                                vào link hủy đăng ký ở cuối mỗi email &#8220;Job Robot,&#8221;</li>
                            <li>Thông báo cho bạn về các cơ hội việc làm IT và các bài tập IT mà chúng tôi cho rằng có
                                thể bạn quan tâm;</li>
                            <li>Cập nhật cho bạn về hàng hoá và dịch vụ do đối tác kinh doanh bên thứ ba của chúng tôi
                                cung cấp liên quan đến ngành của bạn. Bạn có thể chọn không tham gia bất cứ lúc nào từ
                                các email như vậy bằng cách nhấp vào link hủy đăng ký.</li>
                            <li>Bảo vệ mối quan hệ kinh doanh của chúng tôi với bạn như một người sử dụng trang web của
                                chúng tôi;</li>
                            <li>Thông báo cho bạn về các sản phẩm và dịch vụ (liên quan đến lĩnh vực của bạn và sở thích
                                nghề nghiệp của bạn) do chúng tôi hoặc các công ty trong nhóm của chúng tôi cung cấp
                                thông qua các công cụ quảng cáo của chúng tôi. Những thông tin này có thể bao gồm thông
                                tin về các ứng cử viên / chuyên gia tư vấn đã đăng ký gần đây, các hội thảo khách hàng
                                đang sắp xếp, cập nhật thị trường, các phần mềm mới hoặc các khoá đào tạo mà bạn có thể
                                quan tâm;</li>
                            <li>Thực hiện các nghĩa vụ của chúng tôi phát sinh từ bất kỳ hợp đồng nào được ký kết giữa
                                bạn và chúng tôi.</li>
                            <li>Thông báo cho bạn về những thay đổi dịch vụ của chúng tôi.</li>
                        </ul>
                        <h3>Quyền truy cập của bạn đối với dữ liệu được lưu trữ, thay đổi và phản đối của bạn đối với
                            việc xử lý dữ liệu</h3>
                        <p>Bạn có thể liên hệ chúng tôi tại itviec+privacy@itviec.com trong trường hợp bạn:</p>
                        <ul>
                            <li>Có bất kỳ yêu cầu nào về thông tin của bạn mà chúng tôi đang có;</li>
                            <li>Mong muốn xác nhận những thay đổi về thông tin của bạn hoặc chỉnh sửa những thông tin mà
                                chúng tôi đang có về bạn;</li>
                            <li>Có bất kỳ yêu cầu nào về quá trình xử lý thông tin cá nhân của bạn tại ITviec;</li>
                            <li>Quyết định bất cứ lúc nào rằng bạn không muốn nhận những email quảng cáo từ chúng tôi
                                hoặc các công ty trong nhóm chúng tôi. Trong trường hợp đó, bạn vui lòng nhấp vào link
                                huỷ đăng ký ở phía cuối mỗi email quảng cáo của chúng tôi hoặc gửi email yêu cầu huỷ
                                đăng ký đến itviec+unsub@itviec.com;</li>
                        </ul>
                        <h3>Hyperlinks</h3>
                        <p>Trang web của chúng tôi có thể chứa liên kết đến các trang web khác nằm ngoài tầm kiểm soát
                            của chúng tôi và không được bao gồm trong bản tuyên bố này. Nếu bạn truy cập vào các trang
                            web khác thông qua các liên kết từ trang web của chúng tôi, nhà khai thác các trang web đó
                            có thể thu thập thông tin của bạn, chúng sẽ được sử dụng bởi họ theo chính sách bảo mật của
                            họ, có thể khác với chúng tôi.</p>
                        <h3>Chất lượng dữ liệu</h3>
                        <p>Chúng tôi tin tưởng vào bạn để đảm bảo rằng thông tin của bạn là hoàn chỉnh, chính xác và
                            đúng với hiện tại. Xin vui lòng thông báo cho chúng tôi kịp thời về bất kỳ sự thay đổi hoặc
                            không chính xác nào trong thông tin của bạn.</p>
                        <h3>Lưu trữ dữ liệu</h3>
                        <p>Chúng tôi lưu dữ liệu của bạn nhằm mục đích cung cấp các dịch vụ tuyển dụng trong tương lai
                            cho bạn và để quản lý mối quan hệ kinh doanh. Trong trường hợp quan hệ kinh doanh chấm dứt,
                            chúng tôi xác nhận rằng chúng tôi sẽ xóa dữ liệu cá nhân của bạn theo các nghĩa vụ pháp lý
                            của chúng tôi.</p>
                        <h3>Các biện pháp an ninh</h3>
                        <p>Chúng tôi có các biện pháp an toàn kỹ thuật và tổ chức phù hợp để đảm bảo sự an toàn cho
                            thông tin của bạn và để bảo vệ nó trước hành động cố ý hoặc vô tình thao túng, hủy hoại, mất
                            mát hoặc truy cập trái phép.</p>
                        <p>Bất chấp những nỗ lực của chúng tôi về bảo mật, điều quan trọng cần lưu ý là Internet không
                            phải là phương tiện truyền thông an toàn. Thông tin cá nhân được truyền thông qua internet
                            có thể bị chặn bởi người khác. Chúng tôi không thể đảm bảo tính bảo mật của thông tin cá
                            nhân được gửi cho chúng tôi qua trang web này. Bằng cách sử dụng trang web này và nhập dữ
                            liệu cá nhân của bạn, bạn chấp nhận và tự chịu mọi rủi ro nếu có <span
                                style="font-weight: 400;">trong mọi trường hợp (bao gồm cả trường hợp do sơ suất của
                                chúng tôi)</span>.</p>
                        <h3>Những thay đổi đối với Chính sách Bảo mật này</h3>
                        <p>Chúng tôi bảo lưu quyền thay đổi Chính sách Bảo mật của chúng tôi bất cứ lúc nào theo ý của
                            chúng tôi. Mọi thay đổi chúng tôi thực hiện đối với Chính sách Bảo mật của chúng tôi trong
                            tương lai sẽ được đăng trên trang này. Chúng tôi khuyến khích bạn kiểm tra Chính sách Bảo
                            mật này bất cứ khi nào bạn truy cập trang web của chúng tôi để biết bất kỳ cập nhật hoặc
                            thay đổi nào.</p>
                        <h4>COOKIE LÀ GÌ?</h4>
                        <p>Cookie là một tập tin nhỏ chứa chữ cái và số mà chúng tôi lưu trữ trên trình duyệt hoặc ổ
                            cứng của máy tính nếu bạn đồng ý. Cookie chứa thông tin được chuyển tới ổ cứng máy tính của
                            bạn.</p>
                        <h4>CHÚNG TÔI SỬ DỤNG NHỮNG LOẠI COOKIE NÀO?</h4>
                        <p>Chúng tôi sử dụng 2 loại cookie trên trang web của chúng tôi:</p>
                        <p><strong>‘Session Cookie’</strong></p>
                        <p>Đây là các cookie tạm thời, chỉ tồn tại trong khoảng thời gian bạn truy cập trang web (hoặc
                            nghiêm túc hơn, cho đến khi bạn đóng trình duyệt sau khi truy cập trang web). Cookie phiên
                            giúp trang web của chúng tôi nhớ những gì bạn đã chọn trên trang trước, do đó tránh phải
                            nhập lại thông tin. Trên trang web của chúng tôi, các cookie này không chứa thông tin cá
                            nhân và không thể sử dụng để xác định bạn.</p>
                        <p><strong>‘Persistent Cookie’</strong></p>
                        <p>Đây là các cookie vẫn còn trên thiết bị của bạn sau khi bạn đã truy cập trang web của chúng
                            tôi. Các cookie này giúp chúng tôi xác định bạn là khách truy cập duy nhất (bằng cách lưu
                            trữ số ngẫu nhiên được tạo ra).</p>
                        <h4>TẠI SAO CHÚNG TÔI SỬ DỤNG COOKIE?</h4>
                        <p>Để điều chỉnh trang web của chúng tôi sao cho phù hợp với nhu cầu cụ thể của bạn, chúng tôi
                            sử dụng các công nghệ khác nhau, bao gồm cookie, để cho phép chúng tôi phân biệt bạn với
                            những người dùng khác trên trang web của chúng tôi.</p>
                        <p>Chúng tôi sử dụng cookie để:</p>
                        <ul>
                            <li>Nhận diện và đếm số người dùng truy cập và các trang hoặc các phần khác nhau của một
                                trang mà họ đã truy cập trên trang của chúng tôi;</li>
                            <li>Xem người dùng sử dụng trang web như thế nào. Vì dụ, chúng tôi sử dụng Google Analytics,
                                một dịch vụ phân tích web phổ biến được cung cấp bởi Google Inc. Google Analytics sử
                                dụng cookie để giúp chúng tôi phân tích cách người dùng truy cập trang web của chúng
                                tôi. Điều này giúp chúng tôi cải tiến cách hoạt động của trang web của chúng tôi bằng
                                cách đảm bảo rằng người dùng truy cập đang tìm kiếm những gì họ đang tìm kiếm một cách
                                dễ dàng. Tìm hiểu thêm về cách các cookie này được sử dụng trên trang <a
                                    href="https://tools.google.com/dlpage/gaoptout?hl=en">Bảo mật của Google</a>.</li>
                            <li>Khi bạn sử dụng ITviec.com, cookie quảng cáo sẽ được đặt trên máy tính của bạn để chúng
                                tôi có thể hiểu bạn quan tâm đến điều gì. Đối tác quảng cáo hiển thị hình ảnh của chúng
                                tôi, AdRoll, cho phép chúng tôi giới thiệu đến bạn những mẫu quảng cáo của chúng tôi
                                trên các [trang web của công ty khác] dựa trên trải nghiệm của bạn tại ITviec.com. Các
                                kỹ thuật mà đối tác của chúng tôi sử dụng không thu thập thông tin cá nhân như tên, địa
                                chỉ email, địa chỉ bưu điện hoặc số điện thoại của bạn. Bạn có thể truy cập vào trang
                                này để chọn không tham gia AdRoll và hiển thị quảng cáo từ đối tác của AdRoll (trong đó
                                có ITviec).</li>
                        </ul>
                        <p>Tóm lại, bằng cách sử dụng cookie, chúng tôi có thể cải thiện trải nghiệm của bạn khi bạn sử
                            dụng trang web của chúng tôi và cho phép chúng tôi liên tục cải tiến trang web và dịch vụ
                            của chúng tôi cho bạn. Cookie của chúng tôi đã được thiết lập trong trình duyệt của chúng
                            tôi và chúng tôi sẽ giả định rằng bạn đồng ý thông qua việc sử dụng cokkie liên tục trên
                            trang web của chúng tôi. Bạn có thể tắt một số cookie nhất định như được trình bày dưới đây.
                            Nếu bạn tắt các cookie này, chúng tôi không thể đảm bảo trang web sẽ hoạt động như thế nào
                            với bạn.</p>
                        <h4>QUẢN LÝ COOKIE CỦA BẠN</h4>
                        <p>Bật cookie sẽ đảm bảo bạn nhận được trải nghiệm người dùng tối ưu từ trang web của chúng tôi.
                        </p>
                        <p>Hầu hết các trình duyệt tự động chấp nhận cookie, nhưng bạn có thể tắt chức năng này bất cứ
                            lúc nào và thiết lập trình duyệt của bạn để thông báo cho bạn bất cứ khi nào một cookie được
                            gửi đi. Bạn có thể sử dụng cài đặt trình duyệt để chặn tất cả hoặc một số cookie. Xin lưu ý
                            rằng nếu bạn chặn tất cả các cookie bạn không thể truy cập vào tất cả hoặc một phần của
                            trang web của chúng tôi.</p>
                        <p>Thay đổi cài đặt cookie của bạn khác nhau trong các trình duyệt khác nhau. Để dễ dàng cho
                            bạn, chúng tôi đã bao gồm các hướng dẫn về thay đổi cài đặt của bạn trong các trình duyệt
                            phổ biến nhất dưới đây:</p>
                        <h4>KHÔNG THAM GIA GOOGLE&#8217;S DOUBLECLICK</h4>
                        <p>Bất kỳ ai không muốn sử dụng cookie DoubleClick của Google đều có thể chọn không tham gia.
                            Lựa chọn “không tham gia” này chỉ dành riêng cho trình duyệt mà bạn đang sử dụng khi bạn
                            nhấp vào nút &#8220;Chọn không tham gia&#8221; <a
                                href="//www.google.com/policies/technologies/ads/">tại đây</a>.</p>
                        <h4>LÀM THẾ NÀO ĐỂ KIỂM TRA COOKIE CÓ ĐƯỢC KÍCH HOẠT HAY KHÔNG TRÊN NỀN TẢNG WINDOWS</h4>
                        <p><strong>Microsoft Internet Explorer</strong></p>
                        <p>1. Chọn ‘Công cụ’ ở phía trên cùng của trình duyệt và sau đó chọn ‘Lựa chọn Internet&#8217;
                            sau đó nhấp vào tab &#8216;Bảo mật&#8217; 2. Đảm bảo rằng mức độ Bảo mật của bạn được đặt
                            thành Trung bình hoặc thấp hơn, để cho phép cookie trong trình duyệt của bạn 3. Cài đặt trên
                            mức Trung bình sẽ tắt cookie trong trình duyệt của bạn.</p>
                        <p><strong>Mozilla Firefox</strong></p>
                        <p>1. Chọn ‘Công cụ’ ở phía trên cùng của trình duyệt và sau đó chọn ‘Lựa chọn’ 2. Sau đó nhấp
                            vào biểu tượng &#8216;Bảo mật&#8217; 3. Nhấp vào Cookies, và chọn ‘cho phép trang web cài
                            đặt cookies’.</p>
                        <p><strong>Google Chrome</strong></p>
                        <p>1. Chọn ‘Công cụ’ ở phía trên cùng của trình duyệt và sau đó chọn ‘Lựa chọn’ 2. Nhấp vào tab
                            ‘Phía dưới hood’, đến khu vực ‘Bảo mật’, và chọn nút ‘Cài đặt Nội dung’ 3. Chọn ‘cho phép
                            cài đặt dữ liệu cá nhân’.</p>
                        <p><strong>Safari</strong></p>
                        <p>1. Chọn biểu tượng ‘cog’ ở phía trên cùng của trình duyệt và chọn ‘Quyền ưu tiên’ 2. Chọn
                            ‘Bảo vệ’ và đánh dấu vào lựa chọn ‘Chặn cookie của bên thứ ba và quảng cáo’ 3. Chọn ‘Lưu’.
                            Cách để kiểm tra cookie đã được bật dành cho nền tảng apple Microsoft Internet Explorer 5.0
                            trên OSX 1. Chọn ‘Khám phá’ ở phía trên cùng của trình duyệt và chọn ‘Quyền ưu tiên’ 2. Kéo
                            xuống phần ‘Cookies’ bên dưới ‘File nhận được’ 3. Chọn ‘Không bao giờ hỏi’.</p>
                        <p><strong>Safari on OSX</strong></p>
                        <p>1. Chọn ‘Safari’ ở phía trên cùng của trình duyệt và chọn ‘Quyền ưu tiên’ 2. Nhấp ‘Bảo vệ’
                            sau đó nhấp ‘Chấp nhận cookie’ 3. Chọn ‘Chỉ từ trang web mà bạn trỏ tới’</p>
                    </div>
                    <div class="clear"></div>
                </section>
            </article>
        </div>
    </div>
</div>

        <footer>
            {{> footer}}
        </footer>